header {
    background: none;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #222;
}

header li {
    margin-right: 20px;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
}

header li:hover {
    background: #f2f2f2;
}

header li:hover a {
    color: #222;
}

header li a {
    line-height: 0;
}

.intro {
    background: url(img/me.jpg);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 1063px;
    z-index: -1;
}

.intro-mask, .project-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.intro-mask {
    background: rgb(71,65,170);
    background: -webkit-linear-gradient(59deg, rgba(71,65,170,0.5018207966780462) 0%, rgba(64,97,173,0.5074230375744048) 50%, rgba(0,212,255,0.499019676229867) 100%);
    background: -moz-linear-gradient(59deg, rgba(71,65,170,0.5018207966780462) 0%, rgba(64,97,173,0.5074230375744048) 50%, rgba(0,212,255,0.499019676229867) 100%);
    background: -o-linear-gradient(59deg, rgba(71,65,170,0.5018207966780462) 0%, rgba(64,97,173,0.5074230375744048) 50%, rgba(0,212,255,0.499019676229867) 100%);
    background: linear-gradient(149deg, rgba(71,65,170,0.5018207966780462) 0%, rgba(64,97,173,0.5074230375744048) 50%, rgba(0,212,255,0.499019676229867) 100%); 
}

.hello {
    max-width: 1240px;
    margin: 6% auto 0;
    text-align: right;
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 400px;
}

.hello h1 {
    display: inline-block;
}

.page-content {
    margin-top: 53%;
    background: #fff;
}

#about {
    background: #fff;
}

#about h2 {
    text-align: center;
    color: #222;
}

#about .holder {
    top: -50px;
    padding-top: 20px;
    border-radius: 10px;
    background: #f2f2f2;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

#about .column {
    padding: 0 20px;
}

#projects {
    background: #222;
}

#projects h2 {
    text-align: center;
}

#projects .column-6 {
    width: 49%;
    margin-bottom: 2%;
}

#projects .column:nth-child(odd) {
    padding-right: 2%;
}

.project {
    position: relative;
    padding: 30px;
    background: #f2f2f2;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.project:hover {
    cursor: pointer;
    transform: translateY(-1px);
}

.project-mask {
    background:rgba(0, 0, 0, 0.5);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-mask h2 {
    background-color: #f2f2f2;
    color: #222;
    border-radius: 10px;
    padding: 10px 20px;
}

.project-mask h2 {
    font-size: 40px;
}

.project:hover .project-mask {
    visibility: visible;

}

footer, footer h2, footer h3, footer a, footer i {
    color: #222;
}

footer h3 {
    display: inline-block;
    vertical-align: sub;
    margin-left: 10px;
}

footer {
    text-align: center;
}

footer i {
    font-size: 40px;
    vertical-align: middle;
}

.footer-text {
    display: block;
    margin-bottom: 20px;
}

.email-link, .github-link {
    padding: 10px;
    border-radius: 10px;
}

.email-link:hover {
    color: #f2f2f2;
    background: #222;
}

.github-link {
    display: inline-block;
}

.github-link h3 {
    padding: 10px;
    border-radius: 10px;
}

.github-link:hover h3 {
    color: #f2f2f2;
    background: #222;
}